<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="UserMapper">  
    <insert id="insertUser"> 
        INSERT INTO react.react_user
        (
            username
            , userorg
            , useremail
            , userpassword
            , usermajor
            , userphone
            , userflag
            , reg_date
            , reg_user
            , update_date
            , update_user
        )
        VALUES (
            #{is_Username}
            , #{is_Organization}
            , CONCAT(#{is_Useremail1}, '@', #{is_Useremail2})
            , #{is_Password}
            , #{is_Usermajor}
            , CONCAT(#{is_Userphone1}, '-', #{is_Userphone2},'-', #{is_Userphone3})
            , 'Y'
            , now()
            , CONCAT(#{is_Useremail1}, '@', #{is_Useremail2})
            , now()
            , CONCAT(#{is_Useremail1}, '@', #{is_Useremail2})
        )
    </insert>

    <select id="userDpliCheck">
        select count(*) as num from react.react_user where useremail = #{is_Email}
    </select>

    <select id='slctLoginCheck'>
        select * from react.react_user where useremail = #{is_Email}
    </select>

    <select id='selectSessionLoginCheck'>
        select * from react.react_user where useremail = #{is_Email} and userpassword = #{is_Token}
    </select>

    <select id="checkForPwReset">
        select userpassword from react.react_user where useremail = #{is_Email} and username = #{is_Name}
    </select>

    <select id="slctEmailTokenCheck">
        select * from react.react_user where useremail = #{is_Email} and userpassword like concat('%',#{is_Token},'%')
    </select>
</mapper>